.top {
  margin-bottom: 75px;
}

/* .navbar {
  padding-bottom: 50px;
} */

body {
  background-color: #1c1c1c;
  color: whitesmoke;
}

.wa-icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

footer {
    text-align: center;
    background-color: #1c1c1c;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }